<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Rain or not?</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>




<style>
body {
  background-image: url({{ url_for('static', filename='rain.jpg') }});
   background-size: cover;

}
</style>

</head>
<body>



 <div class="login">
	<h1><b>Is it going to rain tomorrow in Australia or not?</b> </h1>
<br>
      <h2> Check it out by yourself!</h2> 

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Location" placeholder="Location" required="required" />
        <input type="text" name="MinTemp" placeholder="MinTemp" required="required" />
        <input type="text" name="MaxTemp" placeholder="MaxTemp" required="required" />
	<input type="text" name="Rainfall" placeholder="Rainfall" required="required" />
        <input type="text" name="Evaporation" placeholder="Evaporation" required="required" />
        <input type="text" name="Sunshine" placeholder="Sunshine" required="required" />
	<input type="text" name="WindGustDir" placeholder="WindGustDir" required="required" />
    	<input type="text" name="WindGustSpeed" placeholder="WindGustSpeed" required="required" />
        <input type="text" name="WindDir9am" placeholder="WindDir9am" required="required" />
	<input type="text" name="WindDir3pm" placeholder="WindDir3pm" required="required" />
        <input type="text" name="WindSpeed9am" placeholder="WindSpeed9am" required="required" />
        <input type="text" name="WindSpeed3pm" placeholder="WindSpeed3pm" required="required" />
	<input type="text" name="Humidity3pm" placeholder="Humidity3pm" required="required" />
    	<input type="text" name="Pressure9am" placeholder="Pressure9am" required="required" />
        <input type="text" name="Pressure3pm" placeholder="Pressure3pm" required="required" />
	<input type="text" name="Cloud9am" placeholder="Cloud9am" required="required" />
        <input type="text" name="Cloud3pm" placeholder="Cloud3pm" required="required" />
        <input type="text" name="RainToday" placeholder="RainToday" required="required" />
	<br>
	<br>
	<br>
	<br>
	<br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>


   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
